<h1>Welcome to rock, paper, scissors!</h1>
<h4>Please enter in the adress bar your hands in the following format <br>
localhost:4567/game/"user1's hand"/"user2's hand" <br> Your choices are: </h4>

<ul>
  <li>paper</li>
  <li>rock</li>
  <li>scissors</li>
</ul>
